data/translations_and_llm_responses/5.[[:space:]]LLM[[:space:]]Responses.csv filter=lfs diff=lfs merge=lfs -text
data/translations_and_llm_responses/6.[[:space:]]Evaluation[[:space:]]Data.csv filter=lfs diff=lfs merge=lfs -text
data/translations_and_llm_responses/7.[[:space:]]Fine-Tuning[[:space:]]Datasets.csv filter=lfs diff=lfs merge=lfs -text
data/translations_and_llm_responses/2.[[:space:]]Winogrande[[:space:]]Data.csv filter=lfs diff=lfs merge=lfs -text
data/translations_and_llm_responses/3.[[:space:]]Winogrande[[:space:]]Cultural[[:space:]]Surveys.csv filter=lfs diff=lfs merge=lfs -text
data/translations_and_llm_responses/4.[[:space:]]Winogrande[[:space:]]Upworker[[:space:]]Profiles.csv filter=lfs diff=lfs merge=lfs -text
data/translations_and_llm_responses/1.[[:space:]]Data[[:space:]]Dictionary.pdf filter=lfs diff=lfs merge=lfs -text
data/translations_and_llm_responses/8.[[:space:]]MMLU[[:space:]]Data.csv filter=lfs diff=lfs merge=lfs -text
data/translations_and_llm_responses/9.[[:space:]]Belebele[[:space:]]Data.csv filter=lfs diff=lfs merge=lfs -text
results/llm_evaluation/evaluation_batch_full.jsonl filter=lfs diff=lfs merge=lfs -text
results/llm_evaluation/evaluation_batch_full_mt.jsonl filter=lfs diff=lfs merge=lfs -text
results/llm_evaluation/evaluation_batch_full_bt.jsonl filter=lfs diff=lfs merge=lfs -text
results/llm-as-an-annotator/gpt-4o_quality_batch_0.jsonl filter=lfs diff=lfs merge=lfs -text
results/llm-as-an-annotator/gpt-4o_quality_batch_1.jsonl filter=lfs diff=lfs merge=lfs -text
results/out-of-the-box/* filter=lfs diff=lfs merge=lfs -text
results/llm-as-an-annotator/quality_generations_gpt-4o_0.jsonl filter=lfs diff=lfs merge=lfs -text
results/llm-as-an-annotator/quality_generations_gpt-4o_1.jsonl filter=lfs diff=lfs merge=lfs -text
results/fine-tuning_experiments/* filter=lfs diff=lfs merge=lfs -text
